* {
	border: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 12px;
	list-style: none;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	overflow-x: hidden;
}

.buttons {
	display: flex;
	gap: 1rem;
	padding-bottom: 15rem;
}

h1 {
	max-width: 28rem;
	font-size: 3.75em;
}

.logo {
	text-align: center;
}

.heroPara {
	font-size: 1.25em;
}

.download,
.what {
	display: flex;
	border-radius: 5em;
	background-color: #04aa6d; /* Green */
	border: none;
	color: #fff;
	padding: 15px 32px;
	font-size: 1.2rem;
}

.download2 {
	border-radius: 5em;
	background-color: #04aa6d; /* Green */
	border: none;
	color: #fff;
	padding: 15px 32px;
	font-size: 1.2rem;
}

.download2,
.what {
	background-color: #800080; /* Purple */
	color: #fff;
}

.modern {
	color: #04aa6d; /* Green */
	font-size: 2rem;
	text-transform: uppercase;
}

.meetings {
	font-size: 3rem;
	font-weight: 900;
}

.sharing,
.heroPara {
	color: #04aa6d; /* Green */
}

.experience {
	font-size: 3rem;
	font-weight: 900;
}

.desktopImages {
	padding-bottom: 5rem;
}

.desktopImagesImg {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.desktopImagesImgPics {
	width: 151px;
	border-radius: 10px;
}
